@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html, body {
  height: 100%;
  width: 100%
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 75%;
  color: white;
}

.carousel-caption p {
  font-size: 500;
  font-weight: 500;
  text-shadow: 8px 8px 10px black;
}

.display-4 {
  font-size: 300%;
  font-weight: 500;
}

.profile-img {
  border: 10px solid #555;
}

.list-text li {
  font-weight: bold;
  width: 90%;
  padding: .3rem;
  height: 80%;
  list-style-type: none;
}

.list-text p {
  width: 90%;
  height: 80%;
}

.school-text li, .work-text li {
  list-style-type: circle;
  text-align: justify;
  font-weight: normal;
}

.padding {
  padding-bottom: 2rem;
}

.head {
  padding-top: 2rem;
}

.head-1 {
  padding-top: .5rem;
}

.card {
  border: 2.5px solid #d3d3d3;
}

.social a {
  font-size: 4rem;
  padding: 2rem;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

.light {
  border-top: 1px solid #d5d5d5;
  margin: .8rem;
  margin-bottom: .8rem;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-linkedin {
  color: #2867B2;
}

.fa-wikipedia-w {
  color: #328da8
}

.fa-facebook-square:hover, .fa-linkedin:hover, .fa-wikipedia-w:hover {
  color: #d5d5d5;
}

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}
